
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.titlePrincipal {
    text-decoration: none;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}
.headPrincipal{
    width: 100%;
    height: 50px;
    background-color: white;
   display: flex;
   border-bottom: 1px solid gray;
}
.logoPrincipal {
    height: 40px;
    margin-left: 10px;
  }
.TitleHead{
    width: 30%;
    display: flex;
    align-items: center;
}
.navPrincipal{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.optionReg{
    display: none;
   /* background-color: rgb(0,0,0, .2);*/
}
.listHead{
    display: flex;
    justify-content: flex-end;
}
.item-nav{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color : green;
    font-family: 'Varela Round', sans-serif;
}
.list-item{
    height: 100%;
    margin: 0;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 0;
}
ul:hover{
    background-color: rgb(0,0,0, .2);
    color: white;
}

